<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalhes do Produto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Imagem do produto -->
  <ion-img src="assets/products/kimono.png"></ion-img>
  
  <!-- Detalhes do produto -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Kimono feminino estampado</ion-card-title>
      <ion-card-subtitle>Marca: Etiqueta</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>Condição: Gentilmente usada</p>
      <p>
        MEDIDAS:<br>
        Busto: 130 cm <br>
        Cintura: 134 cm <br>
        Comprimento total: 86 cm</p>
      <p>Preço: R$ 50,00</p>
      <p>Tamanho: G</p>
    </ion-card-content>
  </ion-card>

  <!-- Botão de comprar -->
  <ion-button expand="block" shape="round">Comprar</ion-button>
</ion-content>
