<ion-header class="ion-no-border">
  <ion-toolbar>
    <div id="header">
      <img src="assets/logo/logobrecho.png"/>
    </div>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-title>Carrinho de compras</ion-title>
  
  <!-- Lista de itens no carrinho -->
  <ion-list lines="full">
    <ion-item *ngFor="let item of carrinho" lines="full">
      <ion-thumbnail slot="start">
        <ion-img [src]="item.imagem"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2>{{ item.nome }}</h2>
        <p>Marca: {{ item.marca }}</p>
        <p>Preço: R$ {{ item.preco.toFixed(2) }}</p>
      </ion-label>
      <ion-button color="danger" slot="end" (click)="removerDoCarrinho(item)">Remover</ion-button>
    </ion-item>
  </ion-list>

  <!-- Total do carrinho -->
  <ion-item>
    <ion-label slot="start">Total:</ion-label>
    <ion-text slot="end">R$ {{ calcularTotal().toFixed(2) }}</ion-text>
  </ion-item>

  <!-- Botão para finalizar a compra -->
  <ion-button expand="block" shape="round" (click)="finalizarCompra()">Finalizar Compra</ion-button>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button routerLink="/home/tabs">
          <ion-icon name="home-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button routerLink="/carrinho" [tab]="carrinho.length > 0 ? 'carrinho' : null">
          <ion-icon name="cart-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button routerLink="/profile">
          <ion-icon name="person-outline"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
