<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/login">Sair</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <h1>Perfil</h1>
    <img src="assets/products/julia.png"/>
  </div>

  <form id="form">
    <ion-input>Nome: Julia Candida da Silva</ion-input>
    <ion-input>Email: jujuhotmail.com</ion-input>
  </form>
</ion-content>

<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar>
      <ion-tab-button routerLink="/home/tabs">
        <ion-icon name="home-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button routerLink="/carrinho">
        <ion-icon name="cart-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button routerLink="/profile">
        <ion-icon name="person-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  </ion-toolbar>
