<ion-header class="ion-no-border">
  <ion-toolbar>
    <div id="header">
      <img src="assets/logo/logobrecho.png"/>
    </div>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>
      <ion-button routerLink="/admin-pecas">
        <ion-icon slot="start" name="add"></ion-icon> <!-- Ícone do lado esquerdo -->
       
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar id="search-toolbar">
    <ion-searchbar placeholder="Procure seu produto"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <!-- Iterar sobre todas as peças -->
    <ion-item *ngFor="let peca of pecas">
      <ion-thumbnail slot="start">
        <ion-img [src]="peca.imagem"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2>{{ peca.nome }}</h2>
        <p>Descrição: {{ peca.descricao }}</p>
        <p>Preço: R$ {{ peca.preco.toFixed(2) }}</p>
      </ion-label>
      <!-- Botão para comprar -->
      <ion-button slot="end" shape="round" [routerLink]="'/produto/' + peca.id">Comprar</ion-button>
    </ion-item>
  </ion-list>
</ion-content>

<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar>
      <ion-tab-button routerLink="/home/tabs">
        <ion-icon name="home-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button routerLink="/carrinho">
        <ion-icon name="cart-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button routerLink="/profile">
        <ion-icon name="person-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>
