<ion-header class="ion-no-border">

</ion-header>

<ion-content>
  <div id="header">
    <h1>Registro</h1>
    <img src="assets/logo/logobrecho.png"/>
  </div>

<ion-content>
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-input type="text" formControlName="nome" label="Nome" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="email" formControlName="email" label="Email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" formControlName="password" label="Senha" required></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit" [disabled]="!formulario.valid">Registrar</ion-button>
  </form>
</ion-content>
